In [ ]:
print(10)
print("London", "Paris")

10
London Paris

In [ ]:
print(10*2)

20

In [ ]:
input("Enter your name: ")

Enter your name: Guillemette

'Guillemette'

In [ ]:
# Print number 10.10
print(10.10)

10.1

In [ ]:
# x is called variable
x = 10.20
name = "Guillemette"

print (x)
print (name)

last_name = "Naudin"

10.2
Guillemette

In [ ]:
# Ask the user what is the city
# Ask the user their first name
# Print the user name and then the user city
# * Use a variable

city = input ("where are you from? ")
name = input ("What is your name? ")
print(name,city)

where are you from? lr
What is your name? Guillemette
Guillemette lr

In [ ]:
x = float(input ("enter a number: "))
y = int(input ("Enter a second number: "))
print("Result is",x+y)

enter a number: 20.25
Enter a second number: 10
30.25

In [ ]:
# Create a program, ask the user to give you 3 integers
# Then Find the product of the values (a*b*c)
# 1 2 3
# Print the result in the form The product is : 6

a = int(input ("enter a number: "))
b = int(input ("enter a number: "))
c = int(input ("enter a number: "))
print ("The product is: ",a*b*c)

enter a number: 1
enter a number: 2
enter a number: 3
The product is:  6

In [ ]:
# Ask the user to enter two number
# Divide the numbers (float)
# a
# b
# a/b

a= float(input("enter a number: "))
b= float(input("enter a number: "))
print (a/b)

enter a number: 6
enter a number: 72
0.08333333333333333

In [ ]:
x = float(input("Enter a number"))
y = float(input("Enter a number"))

if y==0:
  print("I cannot divide") # == equal to check an info
else:
  print (x/y)

Enter a number12
Enter a number0
Icannot divide

In [ ]:
city = input("enter a city: ")

if city=="Paris":
  print("Bonjour")
  print(10)
else:
  print("Hi")
  print(100)

enter a city: Paris
Hi
100

Exercise 1

Create a program to ask a user their name and their age.

If user is over 18, then print you are an adult. If the user is less than 18 print, you are a kid!

In [ ]:
name= input("whats your name: ")
age= int(input("how old are you?: "))


if age>18:
  print ("you are an adult!")
else:
  print ("you are a kid!")

whats your name: gg
how old are you?: 12
you are a kid!

In [ ]:
# > < >= <= (<> != not equal)

Create a program, ask the user to enter two numbers.

Print the maximum number.

In [ ]:
a= int(input("enter a number: "))
b= int(input("enter a number: "))

if a>b:
  print(a)
else:
  print(b)

enter a number: 2
enter a number: 5
5

In [ ]:
x= 10
y= 20

if x>y:
  print ("x is greater than y")
elif x<y:
  print ("x is less than y")
else:
  print ("x is equal to y")

x is less than y

Create a program to ask the user to create a score.

*If the score is less than 50 you failed.
*if the score is between 50 and 70 you pass.
*if the score is greater or equal than 70 is distinction

In [ ]:
score = int(input("enter a score: "))

if score >0 and score<50:
  print("fail")
elif score>=50 and score<70:
  print("pass")
elif score>=70 and score<=100:
  print("distinction")
else:
  print("something is wrong!")

enter a score: -12
something is wrong!