In [2]:
num=int(input("enter a number:"))

if num>0:
  print("positive")
else:
  print("negative or zero")

enter a number:43
positive

In [3]:
num=int(input("enter a number:"))

if num>0:
  positive=True
else:
  positive=False

enter a number:56

In [4]:
print(positive)

True

*if age < 18 you cannot watch film
*if age >= 18 you can watch it
*if you are over 60 you are a senior and you have a discount

In [5]:
age = int(input("Enter age:"))
if age<18:
  watch=False
else:
  watch=True

if age>=60:
  senior=True
else:
  senior=False
print(age,watch,senior)

Enter age:19
19 True False

* if your score is less than 10 you fail
*if 10 to 20 you pass
* if grade >15 distinction

if you get a distinction you get an award

In [6]:
score = int(input("Enter score: "))

if score<10:
  fail=True
else:
  fail=False

if score>=15:
  distinction=True
else:
  distinction=False

print(score, fail, distinction)

Enter score: 8
8 True False

* if temp<20 you turn on the heat.
* if the heat is on you close the windows
* if the windows are closed, turn on the ventilation

In [10]:
temp = int(input("Enter a temp: "))

if temp<20:
  heat=True
else:
  heat=False

if heat==True:
  closed_windows=False
else:
  closed_windows=True

if closed_windows==True:
  ventilation=True
else:
  ventilation=False

print(temp, heat, closed_windows, ventilation)

Enter a temp: 45
45 False True True

In [12]:
students = ['mary','tom','stelios','kate']
scores=[15,12,9,18]

print(students[0:2])
print(scores)

['mary', 'tom']
[15, 12, 9, 18]

In [15]:
scores[0]
scores[-1]
scores[1:3]

[12, 9]

In [16]:
numbers = [10,20,30,40,50,60,70,80,90]

#print->20
print (numbers[1])
#print->80
print(numbers[-2])
#print->10,20,30
print (numbers[0:3])
#print last 3 elements
print(numbers[-3:])
#print->50,60
print(numbers[3:4])

20
80
[10, 20, 30]
[70, 80, 90]
[40]